<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/style/style.scss">
    <script id="main-script" src="../assets/js/index.js" defer></script>
    <title>Document</title>
</head>

<body>
    <nav class="nav-container">
        <ul class="nav-list">
            <li><a class="nav-link" href="./bio.html">BIO</a></li>
            <li><a class="nav-link is-active" href="./">HOME</a></li>
            <li><a class="nav-link" href="./work.html">WORK</a></li>
            <li><a class="nav-link" href="./contact.html">CONTACT</a></li>
        </ul>
    </nav>
    <main data-router-wrapper>
        <section data-router-view="home" class="home">
            <div class="home-content">
                <p class="home-title">
                    <span class="h">developer</span>
                    <span class="h">based <span class="in">in</span></span>
                    <span class="h">lille.</span>
                </p>
            </div>
        </section>
    </main>
</body>

</html>