.home {
  background: #e8e6de;
  .home-content {
    width: 100%;
    height: 100%;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    p.home-title {
      letter-spacing: -0.025em;
      text-transform: uppercase;
      font-size: 11.4vw;
      > .h {
        display: block;
        font-family: Hanson, sans-serif;
        margin: -3vw 0 0;
        line-height: 11.4vw;
        .in {
          font-family: Quentin, sans-serif;
          text-transform: none;
          font-size: 14vw;
          line-height: 2.5vw;
          margin-right: 1.2vw;
        }
      }
    }
  }
}
